.main-container {
  position: relative;
  min-height: 798.62px;
  background-image: url("/src/Components/img/landscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  width: 100%;
  min-height: 798.62px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 23, 0.76) -60.19%,
    rgba(47, 48, 80, 0.79) 100%
  );
  opacity: 0.6;
}

.glass {
  max-width: 1300px;
  min-height: 319.07px;
  background-color: #fff;
  position: absolute;
  left: 12.53%;
  right: 14.56%;
  top: 33.25%;
  bottom: 88.98%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(70px);
  border-radius: 20px;
}

.search {
  height: 72px;
  box-sizing: border-box;

  position: absolute;
  left: 5.03%;
  right: 30.86%;
  top: 49.75%;
  bottom: 90.18%;

  opacity: 0.3;
  border: 1px solid #e7e7f2;
  border-radius: 10px;
  background: transparent;
  padding: 2em;
}

.search::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #e7e7f2;
  opacity: 0.6;
}

.search:focus {
  outline: none;
  border: 1px solid #e7e7f2;
}

.text {
  position: absolute;
  left: 12.53%;
  right: 30.86%;
  top: 18.75%;
  bottom: 90.18%;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 47px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.src-btn {
  position: absolute;
  right: 10.99%;
  top: 49.75%;
  bottom: 90.18%;
  padding: 1em 3.5em 3em 3.5em;
  background: #00937d;
  border-radius: 10px;
  border: 2px solid #00937d;
  color: #fff;
}
.subtext {
  min-height: 27px;
  max-width: 676.14px;
  position: absolute;
  left: 12.53%;
  top: 76.86%;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  display: flex;
  align-items: center;

  color: #ffffff;

  mix-blend-mode: normal;
}

.media {
  width: 20.13px;
  height: 20.13px;
  position: absolute;
  left: 11.26%;
  right: 86.68%;
  top: 86.51%;
  bottom: 13.36%;
  color: #fff;
  display: flex;
  gap: 50%
}

@media screen and (max-width: 768px) {
  .glass {
    max-width: 298px;
    min-height: 496px;
  }
}
