* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

/* header {
    position: fixed
} */

.header {
    /* position: fixed; */
    width: 100%;
    background-color: #00927C;
    min-height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50%;
    overflow: hidden;
    z-index: 99;
}

.mail a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
}

.navbar {
    max-width: 100%;
    min-height: 100px;
    box-shadow: 0 0 1em #CCC;
    display: flex;
    overflow: hidden;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
    padding: 0 7% 0 9%;
}

.logo {
    max-width: 200px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 500px;
    min-height: 55px;
}

.signup {
    background-color: #E4F6F1;
    border: none;
    width: 177.85px;
}

.signup a {
    padding: 0.9rem 1.9rem;
    height: 42.89px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;

    color: #02917D;
    text-decoration: none;

}

.nav-links ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links a {
    padding: 0.9rem 0.9rem;
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 17px;
}

.nav-links a:hover {
    color: #00927C;
}

.hamburger {
    background-color: #f5f5f5;
    border-radius: 5px;
    height: 48px;
    width: 48px;
    color: #02917D;
    text-align: center;
    font-size: 34px;
    flex-direction: column;
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        min-height: 53px;
        /* flex-direction: column; */
        /* align-items: flex-start; */
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .nav-links ul { 
        width: 100%;
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li:hover {
        display: inline-block;
        transition: 0.3s;
    }

    .nav-links a {
        padding: .5rem 1rem;
    }

    .hamburger:hover .nav-links {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        max-width: 91px;
        min-height: 23.86px;
    }
}